.csconfig/
_configuration.mk

**/__pycache__/
*.pyc

bin/
temp/
libbf/
results/
jobs.log
jobs/*.bak

**/*.o
**/*.d

test/000-test-main

tracer/pin/obj-intel64/

vcpkg_installed/

**/_build
**/_doxygen
