.csconfig/
_configuration.mk

**/__pycache__/
*.pyc

bin/

cp-data/
cp-logs/
wp-data/
wp-logs/

cp-gaps-data/
cp-gaps-logs/
wp-gaps-data/
wp-gaps-logs/

jobs/*.bak

**/*.o
**/*.d

test/000-test-main

tracer/pin/obj-intel64/

vcpkg_installed/

**/_build
**/_doxygen
